//navbar
@import "mixin.scss";
button:focus,
input:focus {
  outline: none;
}
.container {
  margin: auto;
  @include breakpoint(largescreen) {
    width: 1480px;
  }
}
a {
  text-decoration: none;
}
.header {
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
  .topheader {
    display: none;
    @include breakpoint(laptop) {
      display: block;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .cart-icon {
      display: relative;

      .badge {
        display: absolute;
        top: 0px;
        left: 0;
      }
    }
  }
  .navbar {
    display: flex;
    padding: 10px;

    @include breakpoint(mobile) {
      flex-direction: column;
    }
    @include breakpoint(laptop) {
      align-items: center;
      flex-direction: row;
      height: 50px;
    }

    .navbar-left {
      display: flex;
      .navbar-logo {
        width: 110px;
        img {
          width: 100%;
        }
      }
      .navbar-menu-icon {
        margin-left: auto;
        background: none;
        border: none;
        @include breakpoint(laptop) {
          display: none;
        }
      }
    }
    .navbar-middle {
      .nav-item {
        padding: 20px;

        .nav-link {
          text-decoration: none;
          color: #000;
          font-size: 18px;
        }
      }
      @include breakpoint(laptop) {
        flex: 1;
        display: block;
        justify-content: center;
        display: inline-flex;
      }
    }
    .navbar-right {
      form {
        display: flex;
        align-items: center;
      }
      .search-btn {
        border: none;
        background: none;
        margin-right: 10px;
      }
      .search-input {
        border: none;
        font-size: 16px;
        padding: 10px;
      }
    }
  }
}
